<div class="container">


    <div class="product-carousel-container">
        <!-- Category Bar -->
        <h2>Best Selling Food</h2>
        <div class="category-bar">
            <button *ngFor="let category of categories" [class.active]="category === activeCategory"
                (click)="filterProducts(category)">
                {{ category.name }}
            </button>
        </div>

        <!-- Product List with Horizontal Scroll -->

        <div>

            <div class="product-list" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()"
                (mouseleave)="onMouseUp()" (mousemove)="onMouseMove($event, productList)" #productList
                style="overflow-x: auto; white-space: nowrap;">
                <div class="product-item" *ngFor="let product of productsList" [routerLink]="'/products/' +product._id">
                    <a  class="product-link"  >
                        <div class="product-image">
                            <img [src]="product.productImageUrl" alt="{{ product.productName }}">
                            <div class="new-badge" *ngIf="product.isNew">NEW</div>
                        </div>
                        <div class="product-info">
                            <div class="product-rating">
                                <span *ngFor="let star of product.rating">
                                    <i class="fa" [class.fa-star]="star" [class.fa-star-o]="!star"></i>
                                </span>
                                ({{ product.reviews }})
                            </div>
                            <h4>{{ product.productName }}</h4>
                            <p class="product-price">${{ product.productPrice }}</p>
                            <p>{{ product.reviews }} Purchases</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>