<div class="terms-container">
    <section class="terms-hero">
      <h1>Terms and Conditions</h1>
      <p>Please review the terms and conditions of using Swoo PetMall below.</p>
    </section>
  
    <section class="terms-content">
      <h2>1. Introduction</h2>
      <p>Welcome to PetPurrfect These terms and conditions outline the rules and regulations for using our website.</p>
  
      <h2>2. Intellectual Property</h2>
      <p>All content provided on this website is the property of Swoo PetMall. You may not reproduce or distribute any content without permission.</p>
  
      <h2>3. Governing Law</h2>
      <p>These terms are governed by the laws of India.</p>
    </section>
  </div>
  