<div class="homepage-container">
  <section class="categories-section">
    <h2>Shop by Animal</h2>
    <div class="categories-container">
      <div class="category-card" id="dog">
        <img src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/16/08/gettyimages-530330473.jpg?crop=0.659xw:0.990xh;0.123xw,0.00779xh&resize=980:*" alt="Dog">
        <div class="category-content">
          <h3>Dog Products</h3>
          <p>Find the best food, toys, and more for your dog!</p>
          <a href="#">Shop Now</a>
        </div>
      </div>
      <div class="category-card" id="cat">
        <img src="https://images.theconversation.com/files/566193/original/file-20231218-23-agqln9.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&h=501&fit=crop&dpr=1" alt="Cat">
        <div class="category-content">
          <h3>Cat Products</h3>
          <p>Everything your cat needs, from food to toys!</p>
          <a href="#">Shop Now</a>
        </div>
      </div>
      <div class="category-card" id="bird">
        <img src="https://as2.ftcdn.net/v2/jpg/00/86/56/65/1000_F_86566504_1yU5DuXgM97XOXkZwcsSAvjP9EXtB4v2.jpg" alt="Bird">
        <div class="category-content">
          <h3>Bird Products</h3>
          <p>Explore a wide range of bird food and accessories!</p>
          <a href="#">Shop Now</a>
        </div>
      </div>
    </div>
  </section>
  
</div>
<app-main-pg-products></app-main-pg-products>
<app-hot-sale></app-hot-sale>