
<footer class="footer">
    <div class="background-image"></div>
    <div class="footer-container">
        <div class="newsletter">
            <p>Be the first to get the latest news about trends, promotions and much more!</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Enter your email address" />
                <button type="submit">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </form>
            <p>By subscribing, you accept the <a href="#">Privacy Policy</a></p>
        </div>
        <div class="footer-columns">
            <div class="footer-column">
                <h3>Get In Touch</h3>
                <p>175 Elizaberth Ave Str, San Jose, CA, 90025</p>
                <p>+0082 561 43 34</p>
                <p><a href="mailto:contact@swoopets.com">'abc.com'</a></p>
            </div>
            <div class="footer-column">
                <h3>FAQs</h3>
                <ul>
                    
                    <li><a routerLink="/Return">Returns</a></li>
                    <li><a routerLink="/TermsandCondition">Terms & Conditions</a></li>
        
                </ul>
            </div>
            <div class="footer-column">
                <h3>About Store</h3>
                <ul>
                    
                    <li><a routerLink="/AboutUs">About Us</a></li>
                    <li><a routerLink="/ContactUs">Contact</a></li>

                </ul>
            </div>
        </div>
        <div class="footer-social">
            <a href="https://x.com/" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        </div>
        
        <div class="footer-payment">
            <p>Accept for</p>
            <div class="payment-methods">
                <img src="https://e7.pngegg.com/pngimages/217/566/png-clipart-paypal-paypal-thumbnail.png" alt="PayPal">
                <img src="https://e7.pngegg.com/pngimages/397/885/png-clipart-logo-mastercard-product-font-mastercard-text-orange-thumbnail.png" alt="Mastercard">
                <img src="https://e7.pngegg.com/pngimages/308/426/png-clipart-visa-logo-credit-card-visa-logo-payment-visa-blue-text-thumbnail.png" alt="Visa">
                <img src="https://toppng.com/uploads/preview/google-pay-gpay-logo-11530962961mwws81tde9.png" alt="Google Pay">
                <img src="https://www.logo.wine/a/logo/Apple_Pay/Apple_Pay-Logo.wine.svg" alt="Apple Pay"> 
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 PetPurrfect. All Rights Reserved.</p>
            <p class="language-select">
                <i class="fa fa-globe"></i> Language: English
            </p>
        </div>
    </div>
</footer>
